.main-page {
  /* text-align: center; */
  position: relative;
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-flow: row wrap;

  background: #F8FAFF;
  box-shadow: 0px 1px 50px rgba(0, 0, 0, 0.25);
}